body {
    padding: 10px;
}
.container-create-form {
    display: flex;
    gap: 10px;
}
.right {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#container-active-listing {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}
#img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
#details {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 15px;
}
.responsive {
    width: auto;
    max-width: 200;
    height: auto;
    max-height: 200px;
}
.atag:hover {
    color: red;
}
.delete {
    display: flex;
    justify-content: space-between;
}
.deleteIcon {
    font-size: x-large;
    color: red;
}
.user-time {
    display: flex;
    justify-content: space-between;
}
.commentList {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
}
.comment {
    padding-left: 15px;
}
.containerComment {
    display: flex;
    flex-direction: column;
    gap: 5px
}
.ss {
    display: flex;
    text-align: center;
}