{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'categories' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <select class="form-control" name="allCategories" {% if message %}autofocus{% endif %} required>
                <option value="Categories">Categories</option>
                {% for category in CATEGORIES %}
                    <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endblock %}