{% extends "auctions/layout.html" %}

{% block title %}
    Create List
{% endblock %}

{% block body %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
        </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'myAuctions' %}">My Auctions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watchList' %}">WatchList {% if CountWatchList > 0 %}<span style="border: 1px solid gray; padding-left: 3px; padding-right: 3px; background-color: gray; color: white; border-radius: 5px;">{{ CountWatchList }}</span>{% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'createList' %}">Create Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'winner' %}">Closed Auctions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
    {% endif %}
    </ul>
    <hr>
    <h2>Create List</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'createList' %}" method="post">
        <div class="container-create-form">
            {% csrf_token %}
            <div class="left">
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{ title }}" name="title" placeholder="Title" autocomplete="off" {% if not message and not dateError %}autofocus{% endif %} required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{ description }}" name="description" placeholder="description" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <input type="file" name="url" required>
                </div>
            </div>
            <div class="right">
                <div class="mb-3">
                    <input type="number" class="form-control" value="{{ startPrice }}" name="price" placeholder="Starting Price" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="categories" {% if message %}autofocus{% endif %} required>
                        <option value="Categories">Categories</option>
                        {% for category in CATEGORIES %}
                            <option value="{{ category.categories }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <p style="color: red">{% if message %} {{ message }} {% endif %}</p>
                </div>
            </div>
        </div>
        <div>
            From: <span style="color: red;">{{ dateError }}</span>
            <div class="mb-3">
                <input type="datetime-local" class="form-control" value="{{ startBid }}" {% if dateError %}autofocus{% endif %} name="startBid" required>
            </div>
            To: <span style="color: red;">{{ dateError }}</span>
            <div class="mb-3">
                <input type="datetime-local" class="form-control" value="{{ endBid }}" name="endBid" required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create List">
    </form>
{% endblock %}