{% extends "auctions/layout.html" %}

{% block body %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
        </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'myAuctions' %}">My Auctions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watchList' %}">WatchList {% if CountWatchList > 0 %}<span style="border: 1px solid gray; padding-left: 3px; padding-right: 3px; background-color: gray; color: white; border-radius: 5px;">{{ CountWatchList }}</span>{% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'createList' %}">Create Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'winner' %}">Closed Auctions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
    {% endif %}
    </ul>
    <hr>
    <h2>WatchList</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% if not watchList %}
        <div style="text-align: center;">
            No Auctions in WatchList
        </div>
    {% endif %}

    {% for listing in watchList %}
        <div class="mb-3" id="container-active-listing">
            <div id="img">
                <a href="images/{{ listing.image }}" target="_blank"><img src="images/{{ listing.image }}" class="responsive"></a>
            </div>
            <div class="mb-3" id="details">
                <div class="delete">
                    <div>
                        <h4>{{ listing.title }}</h3>
                    </div>
                    <div>
                        <form action="{% url 'delete' listing.id %}" method="post">
                            {% csrf_token %}
                            <button style="border: none; background-color: white" type="submit" name="delete_watchList"><ion-icon name="trash-outline" class="deleteIcon"></ion-icon></button>
                            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                        </form>
                    </div>
                </div>
                <div>
                    <h5>Price: ${{ listing.price }}</h4>
                </div>
                <div>
                    <h6>{{ listing.description }}</h6>
                </div>
                <div>
                    Created {{ listing.created_at }}
                </div>
                {% if listing.auctionID.close == False %}
                <div style="margin-top: 5px; display: flex; gap: 5px;">
                    <a href="{% url 'view' listing.auctionID_id %}" class="btn btn-secondary">View</a>
                    <a href="{% url 'comment' listing.auctionID.id %}" class="btn btn-secondary">Comment</a>
                </div>
                {% else %}
                <div>
                    SOLD OUT
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}